@model ChatonsBDD_B31.Models.Injection

@{
    ViewData["Title"] = "Injection";
}

<h4>Insérer une Injection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recall" class="control-label"></label>
                <input asp-for="recall" class="form-control" />
                <span asp-validation-for="recall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brand" class="control-label"></label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lot" class="control-label"></label>
                <input asp-for="lot" class="form-control" />
                <span asp-validation-for="lot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user" class="control-label"></label>
                @Html.DropDownListFor(model => model.user, (SelectList)ViewData["users"], "Selectionnez un utilisateur", new { @class = "form-control" })
                <span asp-validation-for="user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vaccine" class="control-label"></label>
                @Html.DropDownListFor(model => model.vaccine, (SelectList)ViewData["vaccines"], "Selectionnez un vaccin", new { @class = "form-control" })
                <span asp-validation-for="vaccine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
