@{
    ViewData["Title"] = "Liste";
}

<div class="text-center">
    <p>
        <a asp-action="ListeGrippe">Liste des personnes non vaccinees par la grippe cette annee</a>
    </p>
    <p>
        <a asp-action="ListeCovid">Liste des personnes vaccinees par le Covid</a>
    </p>
    <p>
        <a asp-action="ListeRetard">Liste des personnes en retard de rappel</a>
    </p>
</div>
